.home-container {
  display: flex;
  justify-content: space-between;

  .menuLeft {
    width: 15%;
    padding-top: 80px;
    padding-left: 10px;

    .selectForm {
      display: flex;
      justify-content: start;
      margin-top: 10px;
    }

    .selectBox {
      padding: 5px;
      margin: 0 0 0 5px;
    }
  }
  .menuRight {
    width: 15%;
    padding-top: 80px;
  }

  .product {
    flex-wrap: wrap;
    flex: start;
    display: flex;
    padding-top: 80px;
    width: 85%;
    
  }
}